@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.main {
  width: 100%;
}

.maincontainer {
  width: 100%;
  display: flex;
  background-color: azure;
}

.sidecontainer {
  width: 20%;
  padding: 0 50px;
  height: calc(100vh - 85px);
  overflow-scrolling: auto;
}

.sidesubcontainer {
  margin: 50px 0;
}

.p {
  margin: 20px;
  cursor: pointer;
  padding: 7px 20px;
  font-weight: 700;
}

.headcontainer {
  width: 80%;
  background-repeat: no-repeat;
  visibility: 1px;
}

.inputfield {
  margin: 10px;
  width: 80%;
  border-radius: 20px;
}

.formitemdisplay {
  text-align: center;
  background-color: lightblue;
  padding: 50px;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  background-color: #284d61;
}
h1 {
  margin-left: -60px;
  /* margin-top: -10px; */
  color: azure;
}
.signoutbutton {
  width: 90px;
  margin: 20px 0;
  margin-right: -90px;
  font-size: 15px;
  border-radius: 10px;
  background-color: green;
  font-weight: 600;
  color: rgb(204, 198, 198);
  cursor: pointer;
}
.signoutbutton:hover {
  background-color: red;
  color: black;
}
